section {
    height: 400px;
    width: 100%;
}

.fondoColor {
    background-color: #0f6666;
}

.fondoOpacidad {
    background-color: #5d0c0c;
    opacity: 0.5;
}

.fondoImagen {
    background-image: url(/portadas4.jpg);
}

.fondoRepetidoX {
    background-image: url(/portadas4.jpg);
    background-repeat: repeat-x;
}

.fondoRepetidoY {
    background-image: url(/portadas4.jpg);
    background-repeat: repeat-y;
}

.fondoNoRepetido {
    background-image: url(/portadas4.jpg);
    background-repeat: no-repeat;
}

.fondoPosicion {
    background-image: url();
    background-repeat: no-repeat;
    background-position: top right;
}

.fondoCompleto {
    background-image: url(/portadas4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}